<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
  </tr>
  <% @ideas.each do |idea| %>
    <tr>
      <td><%= idea.title %></td>
      <td><%= idea.description %></td>
      <% if current_user == idea.owner %>
        <td> <%= link_to "edit", edit_idea_path(idea) %></td> 
        <td><%= link_to 'Destroy', idea, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>   
    </tr>
  <% end %>
</table>
<%= link_to "create", new_idea_path %>
<%= link_to "logout", logout_path, method: "delete" %>