<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
  </tr>
  <% @ideas.each do |idea| %>
    <tr>
      <td><%= idea.title %></td>
      <td><%= idea.description %></td>
      <td> <%= link_to "edit", edit_user_idea_path(@user, idea) %></td> 
      <td><%= link_to 'Destroy', user_idea_path(@user, idea), method: :delete, data: { confirm: 'Are you sure?' } %></td>  
    </tr>
  <% end %>
</table>
<%= link_to "create", new_user_idea_path %>
<%= link_to "logout", logout_path, method: "delete" %>